{% extends 'main/layout.html' %}

{% block title %}
{{ class.name }}
{% endblock %}

{% block body %}

<div class="p-3" >
    <div class="card">
        <div class="card-header">
            Period {{ class.period }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ class.name }}</h5>
            <hr>
            <p class="card-text">{{ class.description }}</p>
            <hr>
            <p class="card-text">Teacher: {{ class.teacher }}</p>
            <p class="card-text">Room: {{ class.room }}</p>
            <p class="card-text">Building {{ class.building }}</p>
            <p class="card-text">
                <a href="{% url 'friends' class.id %}">See the list of the enrolled</a>
            </p>
          <!-- <p class="card-text"></p> -->
            {% if request.user not in students %}
                <form action="{% url 'enroll' class.id %}" ,method="get">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-success">Enroll now</button>
            {% else %}
                <form action="{% url 'drop' class.id %}" ,method="get">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-danger">Drop {{ class.name }}</button>   
                    </div>
                </form>
            {% endif %} 
        </div>
    </div>
</div>

{% endblock %}
