{% extends 'main/layout.html' %}

{% block title %}
List of Participants
{% endblock %}

{% block body %}

<div class="p-3"><h2>List of Classmates</h2></div>

<div class="p-3">
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush">
        {% for friend in friends %}
            <li class="list-group-item">{{ friend.username }}</li>
        {% endfor %}
        </ul>
      </div>
</div>
<div class="p-3">
    <a href="{% url 'classroom' class.id %}">Go back to {{ class.name }}</a>
</div>
{% endblock %}